<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyGJJB5WJYKwd8NPDuJ1wFZGCj9OvrkzU</string>
	<key>GCM_SENDER_ID</key>
	<string>620963479176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yourcompany.com.Express-o</string>
	<key>PROJECT_ID</key>
	<string>express-o-5578d</string>
	<key>STORAGE_BUCKET</key>
	<string>express-o-5578d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620963479176:ios:6847670a997fc3b61c293d</string>
</dict>
</plist>